.advertisement 
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
    /*border : 5px solid rgb(45, 156, 187);
    position:relative;left: 10px;bottom: 1160px;*/
    position:absolute; left: 8px;top: 8px;
    float:left;
}

p{
    text-align:center;
}

.header
{
   
   height: 160px;
    


}  
.logo{
    position: absolute; left: 150px;top: 8px; 
    height: 200px;

}
.title{
    position: absolute; left: 640px;top: 24px;  
    
}
.content{
   
    
    width:70%;
    position: relative; left: 180px;top: 8px;

}
.image{
    
    
    width: 32%;
   
   height: 150px;
   float:left;
  
}
.main{
    
    margin:2px 2px 2px 2px;
}
.head{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
    margin:20px 10px 20px 100px;

}
.son{
    width: 100%;
    position: relative; left: 4px;bottom:  36px;

}
